:root {
  --container-space: 1rem;

  --background-color: #f3f8ff;
  --baby-blue: #d3e3fd;
  --bg-blue: #4187f7;

  --color-light-grey: #e2dddd;
  --color-dark-grey: #6f6e6e;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-red: #a90011;
  --color-green: #28a745;

  --btn-scale: 0.9;
  --btn-radius: 1rem;
  --btn-transition: all 0.3s ease-in-out;

  --anchor-decoration: none;

  /* active state */
  --baby-blue-active: #7cacf8;
  --whatsapp-green: #25d366;
  --sms-blue: #1982fc;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-y: hidden;
}

html,
body {
  min-height: 100%;
  height: 100%;
  background-color: var(--background-color);
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.overflow {
  overflow: auto;
}

:root {
  --animation-duration: 300ms;
  --animation-timing-function: cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

main {
  contain: layout;
  overflow: auto;
}

nav-bar {
  view-transition-name: navbar;
  contain: layout;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-30%);
  }
}

@keyframes slide-out-reverse {
  from {
    transform: translateX(-30%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-reverse {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

::view-transition-new(root),
::view-transition-old(root) {
  animation-duration: var(--animation-duration);
  animation-timing-function: var(--animation-timing-function);
  animation-direction: normal;
}

.next::view-transition-old(root) {
  animation-name: slide-out;
}

.next::view-transition-new(root) {
  animation-name: slide-in;
  mix-blend-mode: normal;
}

.home::view-transition-new(root) {
  animation-name: slide-out-reverse;
}

.home::view-transition-old(root) {
  animation-name: slide-in-reverse;
  mix-blend-mode: normal;
  z-index: 1;
}

@media screen and (min-width: 1024px) {
  .home::view-transition-old(root) {
    animation-name: fade-out;
  }

  .home::view-transition-new(root) {
    animation-name: fade-in;
  }
}

@media screen and (min-width: 1024px) {
  .next::view-transition-old(root) {
    animation-name: fade-out;
  }

  .next::view-transition-new(root) {
    animation-name: fade-in;
  }
}
